html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #fff;
  transition: color 300ms, background-color 300ms, filter 300ms;
}

html[theme='dark'] {
  filter: invert(1) hue-rotate(180deg);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
