.title a {
  color: #0070f3;
  text-decoration: none;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.card {
  display: flex;
  min-width: 450px;
  min-height: 500px;
  padding: 1.5rem 1.5rem 3.5rem 1.5rem;
  text-align: center;
  text-decoration: none;
  background: #eaeaea;
  border-radius: 12px;
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

html[theme='dark'] .card {
  box-shadow: none;
}

.card .cardContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
}

.card .cardHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 1rem 0;
}

.card .cardHeader h3 {
  margin: 0;
  font-size: 1.5rem;
  flex-grow: 1;
}

.card .cardContent {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.backButton {
  width: 32px;
  height: 32px;
  padding: 4px;
  border: none;
  border-radius: 50%;
  background: none;
  outline: none;
  fill: rgba(0, 0, 0, 0.8);
  transition: fill 300ms;
}
.backButton:hover {
  fill: rgba(0, 0, 0, 0.5);
}

.fadeEnterLeft {
  opacity: 0;
  transform: translateX(-100%);
}
.fadeEnterRight {
  opacity: 0;
  transform: translateX(100%);
}

.fadeEnterActive {
  opacity: 1;
  transform: translateX(0%);
}
.fadeExit {
  opacity: 1;
  transform: translateX(0%);
}
.fadeExitActiveLeft {
  opacity: 0;
  transform: translateX(100%);
}
.fadeExitActiveRight {
  opacity: 0;
  transform: translateX(-100%);
}

.fadeEnterLeft, .fadeEnterRight,
.fadeExitActiveLeft, .fadeExitActiveRight {
  transition: opacity 500ms, transform 500ms;
}
