.title a {
  color: #0070f3;
  text-decoration: none;
}

.title h1 {
  margin: 0;
  line-height: 1.15;
  font-size: 3.5rem;
}

.title,
.description {
  position: relative;
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.invite {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(125%, -50%);
}

.invite button {
  width: 32px;
  height: 32px;
  padding: 4px;
  border: none;
  border-radius: 50%;
  background: none;
  outline: none;
  color: rgba(0, 0, 0, 0.8);
  transition: color 300ms;
}
.invite button:hover {
  color: rgba(0, 0, 0, 0.5);
}

.joinForm {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.joinForm .joinInput {
  margin: 0 12px 0 0;
  flex-grow: 1;
}

.button {
  padding: 0.75rem;
  border: 1px solid rgba(0, 0, 0, .3);
  border-radius: 8px;
  outline: none;
  font-size: 1rem;
  transition: border 200ms;
  background: transparent;
}

.button:hover {
  color: #0070f3;
  border-color: #0070f3;
  curaor: pointer;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 8px 0;
  padding: 4px 16px 4px 0;
  border-right: 1px solid rgba(0, 0, 0, .3);
}

.stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 4px 0 4px 16px;
}

.stats h4 {
  margin: 0 0 8px 0;
}

.list {
  padding: 16px;
  width: 450px;
  border-radius: 12px;
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.3);
}

html[theme='dark'] .list {
  box-shadow: none;
}

.list .listItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 4px;
  margin-left: 8px;
  user-select: none;
  cursor: default;
}

.list .listItem .listItemCheck {
  margin-right: 1rem;
}

.list .listItem .listItemTitle {
  flex-grow: 1;
  font-size: 1.25rem;
}

.list .listItem .listItemActions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.list .listItem .listItemActions button {
  border: 0;
  background: none;
  color: rgba(0, 0, 0, 0.8);
  transition: color 300ms;
  outline: none;
}

.list .listItem .listItemActions button:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
}

.list .listItem .listItemActions button:not(:first-child) {
  margin-left: 8px;
}
