.tooltip {
  position: relative;
}

.tooltip .tooltipMessage {
  position: absolute;
  background: rgba(0,0,0,.6);
  color: #fff;
  border-radius: 6px;
  opacity: 0;
  padding: 4px 8px;
  transition: opacity 300ms;
  width: max-content;
}

.tooltip .tooltipContent:hover + .tooltipMessage {
  opacity: 1;
}

.tooltip .tooltipMessage.left {
  left: 0;
}
.tooltip .tooltipMessage.center {
  left: 50%;
  transform: translateX(-50%);
}
.tooltip .tooltipMessage.right {
  right: 0;
}
.tooltip .tooltipMessage.top {
  top: -105%;
}
.tooltip .tooltipMessage.middle {
  top: 0;
}
.tooltip .tooltipMessage.bottom {
  bottom: -105%;
}
